<header>
		<%= image_tag "logo150.png" %>
	</header>

   <!--  <ul>
		<% @flights.each do |flight| %>
			<li>
				<b>Flight: </b><%= flight.origin + " - " + flight.from_date.to_s + " - " + flight.time_departure.to_s + " - " + flight.destination + " - " + flight.time_arrive.to_s + " - " + flight.duracion.to_s + " - " + flight.aerolinea %> 
			</li>
			<% end %>
		<% @flights_back.each do |flight| %>
			<li>
				<b>Flight: </b><%= flight.origin + " - " + flight.from_date.to_s + " - " + flight.time_departure.to_s + " - " + flight.destination + " - " + flight.time_arrive.to_s + " - " + flight.duracion.to_s + " - " + flight.aerolinea %> 
			</li>
		<% end %>

	</ul> -->
	


	<!-- <section class="resumen">
		<span class="span_origen">MADRID</span>
		<span class="span_pais_origen">ESPAÑA</span>
		<span class="span_destino">PARÍS</span>
		<span class="span_pais_destino">FRANCIA</span>
	</section> -->

	<h1>Vuelos de ida</h1>
	<ul id="lista_resumen_vuelos">

		<% @price=[] %>

		<% @flights.each do |flight| %>
		<% @price << flight.price %>
		<li>
			<table class="table_vuelos">
				<tr>
					<th class="display_inline_block">
						Elegir
					</th>
					<th class="ciudad_origen display_inline_block">
						Origen
					</th>
					<th class="ciudad_destino display_inline_block">
						Destino
					</th>
					<th class="fecha_vuelo_salida display_inline_block">
						Fecha Salida
					</th>
					<th class="hora_vuelo_salida display_inline_block">
						Hora Salida
					</th>
					<th class="fecha_vuelo_llegada display_inline_block">
						Fecha Llegada
					</th>
					<th class="hora_vuelo_llegada display_inline_block">
						Hora Llegada
					</th>
					<th class="duracion display_inline_block">
						Duración
					</th>
					<th class="aerolinea display_inline_block">
						Aerolínea
					</th>
					<th class="aerolinea display_inline_block">
						Precio
					</th>
				</tr>

				<tr class="vuelo_resumen display_inline_block">
					<td class="display_inline_block">
						<input type="radio" class="calculateprice">
						
					</td>
					<td class="ciudad_origen display_inline_block">
						<%= flight.origin %>
						
					</td>
					<td class="ciudad_destino display_inline_block">
						<%= flight.destination %>
						
					</td>
					<td class="fecha_vuelo_salida display_inline_block">
							<%= flight.from_date.to_s %>
						
					</td>
					<td class="hora_vuelo_salida display_inline_block">
							<%= flight.time_departure.to_s %>
						
						
					</td>
					<td class="fecha_vuelo_llegada display_inline_block">
							<%= flight.from_date.to_s %>
					
					</td>
					<td class="hora_vuelo_llegada display_inline_block">
							<%= flight.time_arrive.to_s %>
					
					</td>
					<td class="duracion display_inline_block">
							<%= flight.duracion.to_s + "horas" %>
						
					</td>
					<td class="aerolinea display_inline_block">
							<%= flight.aerolinea %>
					</td>
					<td class="calculateprice display_inline_block">
							<%= flight.price %>
					</td>
				</tr>
			</table>
			</li>
			<% end %>
	</ul>
	

	<h1>Vuelos de vuelta</h1>
	<ul id="lista_resumen_vuelos">			

				<% @flights_back.each do |flight| %>
				<% @price << flight.price %>
			<li>
				<table class="table_vuelos">
				<tr>
					<th class="display_inline_block">
						Elegir
					</th>
					<th class="ciudad_origen display_inline_block">
						Origen
					</th>
					<th class="ciudad_destino display_inline_block">
						Destino
					</th>
					<th class="fecha_vuelo_salida display_inline_block">
						Fecha Salida
					</th>
					<th class="hora_vuelo_salida display_inline_block">
						Hora Salida
					</th>
					<th class="fecha_vuelo_llegada display_inline_block">
						Fecha Llegada
					</th>
					<th class="hora_vuelo_llegada display_inline_block">
						Hora Llegada
					</th>
					<th class="duracion display_inline_block">
						Duración
					</th>
					<th class="aerolinea display_inline_block">
						Aerolínea
					</th>
					<th class="aerolinea display_inline_block">
						Precio
					</th>
				</tr>

				<tr class="vuelo_resumen display_inline_block">
					<td class="display_inline_block">
						<input type="radio" class="calculateprice" >
						
					</td>
					<td class="ciudad_origen display_inline_block">
						<%= flight.origin %>
					</td>
					<td class="ciudad_destino display_inline_block">
						<%= flight.destination %>
					</td>
					<td class="fecha_vuelo_salida display_inline_block">
						<%= flight.to_date %>
					</td>
					<td class="hora_vuelo_salida display_inline_block">
						<%= flight.time_departure.to_s %>
					</td>
					<td class="fecha_vuelo_llegada display_inline_block">
						<%= flight.to_date %>
					</td>
					<td class="hora_vuelo_llegada display_inline_block">
						<%= flight.time_arrive.to_s %>
					</td>
					<td class="duracion display_inline_block">
						<%= flight.duracion.to_s + "horas"%>
					</td>
					<td class="aerolinea display_inline_block">
						<%= flight.aerolinea %>
					</td>
					<td class="calculateprice display_inline_block">
						<%= flight.price %>
					</td>
				</tr>
				
			</table>
			
		</li>
			<% end %>
		
	</ul>
	

