<header>
		<%= image_tag "logo150.png" %>
	</header>

   <!--  <ul>
		<% @flights.each do |flight| %>
			<li>
				<b>Flight: </b><%= flight.origin + " - " + flight.from_date.to_s + " - " + flight.time_departure.to_s + " - " + flight.destination + " - " + flight.time_arrive.to_s + " - " + flight.duracion.to_s + " - " + flight.aerolinea %> 
			</li>
			<% end %>
		<% @flights_back.each do |flight| %>
			<li>
				<b>Flight: </b><%= flight.origin + " - " + flight.from_date.to_s + " - " + flight.time_departure.to_s + " - " + flight.destination + " - " + flight.time_arrive.to_s + " - " + flight.duracion.to_s + " - " + flight.aerolinea %> 
			</li>
		<% end %>

	</ul> -->
	


	<!-- <section class="resumen">
		<span class="span_origen">MADRID</span>
		<span class="span_pais_origen">ESPAÑA</span>
		<span class="span_destino">PARÍS</span>
		<span class="span_pais_destino">FRANCIA</span>
	</section> -->


	<h1 class="title">Search results:</h1>
	<ul class="ul" id="lista_resumen_vuelos">

		<% @price=[] %>

		<% @flights.each do |flight| %>
			<% @flights_back.each do |flight_back| %>
				<% @price << flight.price %>
		<li>
			<table class="table_vuelos">
				<tr>
					<th class="ciudad_origen display_inline_block">
						Origin
					</th>
					<th class="ciudad_destino display_inline_block">
						Destination
					</th>
					<th class="fecha_vuelo_salida display_inline_block">
						Departure date
					</th>
					<th class="hora_vuelo_salida display_inline_block">
						Departure time
					</th>
					<th class="fecha_vuelo_llegada display_inline_block">
						Arrival date
					</th>
					<th class="hora_vuelo_llegada display_inline_block">
						Arrival time
					</th>
					<th class="duracion display_inline_block">
						Duration
					</th>
					<th class="aerolinea display_inline_block">
						Airline
					</th>
					<th class="aerolinea display_inline_block">
						Price
					</th>
				</tr>

				<tr class="vuelo_resumen display_inline_block">
					
					<td class="ciudad_origen display_inline_block">
						<%= flight.origin %>
						
					</td>
					<td class="ciudad_destino display_inline_block">
						<%= flight.destination %>
						
					</td>
					<td class="fecha_vuelo_salida display_inline_block">
							<%= flight.from_date.to_s %>
						
					</td>
					<td class="hora_vuelo_salida display_inline_block">
							<%= flight.time_departure.to_s %>
						
						
					</td>
					<td class="fecha_vuelo_llegada display_inline_block">
							<%= flight.from_date.to_s %>
					
					</td>
					<td class="hora_vuelo_llegada display_inline_block">
							<%= flight.time_arrive.to_s %>
					
					</td>
					<td class="duracion display_inline_block">
							<%= flight.duracion.to_s + "horas" %>
						
					</td>
					<td class="aerolinea display_inline_block">
							<%= flight.aerolinea %>
					</td>
					<td class="calculateprice display_inline_block">
							<%= flight.price %>
					</td>
				</tr>
				<tr class="vuelo_resumen display_inline_block">
					
					<td class="ciudad_origen display_inline_block">
						<%= flight_back.origin %>
						
					</td>
					<td class="ciudad_destino display_inline_block">
						<%= flight_back.destination %>
						
					</td>
					<td class="fecha_vuelo_salida display_inline_block">
							<%= flight_back.from_date.to_s %>
						
					</td>
					<td class="hora_vuelo_salida display_inline_block">
							<%= flight_back.time_departure.to_s %>
						
						
					</td>
					<td class="fecha_vuelo_llegada display_inline_block">
							<%= flight_back.from_date.to_s %>
					
					</td>
					<td class="hora_vuelo_llegada display_inline_block">
							<%= flight_back.time_arrive.to_s %>
					
					</td>
					<td class="duracion display_inline_block">
							<%= flight_back.duracion.to_s + "horas" %>
						
					</td>
					<td class="aerolinea display_inline_block">
							<%= flight_back.aerolinea %>
					</td>
					<td class="calculateprice display_inline_block">
							<%= flight_back.price %>
					</td>
				</tr>
			</table>
			</li>
			<% end %>
		<% end %>
	</ul>
	
	

